<% include partials/header %>
<h1><%=campground.name%></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<div>
  <a href="/campgrounds/<%= campground.id %>/edit" class="btn btn-primary">edit</a>
</div>
<form method="POST" action="/campgrounds/<%= campground._id %>?_method=DELETE">
  <button class="btn btn-primary" type="submit">Delete</button>
</form>
<% include partials/footer %>